.paragrafo-habilidades {
    font-size: 15px;
    color: #404040;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    padding-top: 0.5em;
}

.skills_content {
    padding: 3rem 0;
    text-align: center;
}

.skills_content ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.skills_item {
    text-align: center;
}

.skills_item h3 {
    margin-top: 1rem;
}

.habilidades {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}